* { 
    margin:0; 
    padding:0; 
    box-sizing:border-box; 
}
body { 
    font-family: "Roboto", sans-serif; 
    background-image: linear-gradient(to top left,#000,#000,#000); 
    color:#fff; 
}

/* HERO */
.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.hero img {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* NAVBAR */
.navOuter {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
}
.navbar {
    max-width: 1150px;
    width: 90%;
    margin: 20px auto;
    padding: 14px 24px;
    border-radius: 20px;
    /* background-color: rgba(83,80,80,0.95); */
    background-color: rgba(255, 255, 255, 0.45);
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar ul { 
    display:flex; gap:30px;
     list-style:none; 
}
.navbar a { 
    text-decoration:none; 
    color:#000; 
}

/* STORY SECTION */
.story {
  position: absolute;
  left: 80px;
  right: 80px;
  top: 120px;
  max-width: 800px;
  margin: 10px auto;
  padding: 30px;
  line-height: 1.8;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
  transform: scale(0.95);
  opacity: 0;
  transition: all 1s ease;
}

/* Hidden initially */
.hidden {
  visibility: hidden;
}

/* When it becomes visible */
.show {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.cme{
    transform: rotate(90deg);
    width: 250px;
    margin: 12px;
}

.inner-div{
    display: flex;
}

p{
    text-align: justify;
}

.capital::first-letter{
    font-size: 40px;
    line-height: 1;
    float: top;
    margin-right: 5px;
}