body {
  font-family: 'Inter', sans-serif;
  background-image: url("bg.jpg");
  background-size: cover;
}

/* Container */
#quiz-container {
  max-width: 700px;
  width: 90%;
  min-height: 500px;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#question-text {
  font-weight: 600; /* Bold */
}

/* Option Buttons */
.option-btn {
  transition: all 0.2s ease-in-out;
  background-image: linear-gradient(to right, #2563eb, #0891b2);
  color: white;
  font-weight:900;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 2px solid transparent;
  text-align: left;
  box-shadow: 0 0 10px rgba(6, 182, 212, 0.4);
}

.option-btn:hover:not(:disabled) {
  transform: translateY(-2px);
  background-image: linear-gradient(to right, #0891b2, #2563eb);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.option-btn:disabled {
  cursor: not-allowed;
  opacity: 0.8;
}

/* Correct / Incorrect */
.correct-answer {
  border: 2px solid #22c55e !important;
  background: linear-gradient(to right, #064e3b, #16a34a);
  box-shadow: 0 0 10px #22c55e;
}

.incorrect-answer {
  border: 2px solid #ef4444 !important;
  background: linear-gradient(to right, #7f1d1d, #dc2626);
  box-shadow: 0 0 10px #ef4444;
}
